* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --index: 1vw + 1vh;
  --bg-color: #f7f7f7;
  --h-text-color: #161618;
  --p-text-color: #7c7c7c;
  --button-bg: #fcfcfc;
  --accent-color: #ffab07;
}

.container {
  padding: 0 calc(var(--index) * 25);
}

.m-body {
  background: var(--bg-color);
  font-family: "Montserrat";
  overflow-x: hidden;
}
.m-body .dot-colored {
  color: var(--accent-color);
}

.m-header {
  padding: calc(var(--index) * 1) 0;
}
.m-header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.m-header .navigation .nav-logo a img {
  width: calc(var(--index) * 5);
}
.m-header .navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.m-header .navigation .nav-list li:not(:last-child) {
  margin-right: calc(var(--index) * 5);
}
.m-header .navigation .nav-list li a {
  font-size: calc(var(--index) * 0.1);
  text-decoration: none;
  color: var(--p-text-color);
}
.m-header .navigation .nav-list li a:hover {
  color: var(--h-text-color);
}
.m-header .navigation .nav-login .nav-login__button {
  text-decoration: none;
  font-size: calc(var(--index) * 0.1);
  color: var(--h-text-color);
  background: var(--button-bg);
  border: 1px solid var(--h-text-color);
  border-radius: 7px;
  padding: 7px calc(var(--index) * 3);
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
  box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
}
.m-header .navigation .nav-login .nav-login__button:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
  box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
}

.m-main .hero-section {
  position: relative;
  min-height: 100vh;
}
.m-main .hero-section .hero-text {
  position: relative;
}
.m-main .hero-section .hero-text::before {
  content: " ";
  height: 1px;
  width: calc(var(--index) * 18);
  background: var(--h-text-color);
  display: block;
  position: absolute;
  top: calc(var(--index) * 44.5);
  left: calc(var(--index) * 27.5);
}
.m-main .hero-section .hero-text .hero-text__header {
  font-weight: 400;
  font-size: calc(var(--index) * 20);
  color: var(--h-text-color);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(var(--index) * 20);
}
.m-main .hero-section .hero-text .hero-text__descr {
  font-weight: 400;
  font-size: calc(var(--index) * 3);
  color: var(--h-text-color);
  position: absolute;
  top: calc(var(--index) * 41);
  left: calc(var(--index) * 50);
}
.m-main .hero-section .hero-quote {
  display: none;
  position: relative;
}
.m-main .hero-section .hero-quote .hero-quote__text {
  max-width: calc(var(--index) * 50);
  font-size: calc(var(--index) * 0.1);
  font-weight: 300;
  font-style: italic;
  position: absolute;
  right: 0;
}
.m-main .hero-section .hero-learn-more {
  position: absolute;
  top: calc(var(--index) * 70);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(var(--index) * 9);
}
.m-main .goals {
  margin-top: calc(var(--index) * 20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.m-main .goals .goals-text {
  z-index: 100;
}
.m-main .goals .goals-text .goals-text__header {
  color: var(--h-text-color);
  text-transform: uppercase;
  font-size: calc(var(--index) * 5);
}
.m-main .goals .goals-text .goals-text__descr {
  padding-top: calc(var(--index) * 1);
  padding-bottom: calc(var(--index) * 7);
  line-height: 180%;
  color: var(--p-text-color);
  font-size: calc(var(--index) * -0.3);
  max-width: calc(var(--index) * 80);
}
.m-main .goals .goals-text .goals-text__button {
  font-size: calc(var(--index) * -0.1);
  color: var(--h-text-color);
  text-decoration: none;
  border: 1px solid var(--h-text-color);
  border-radius: 7px;
  padding: calc(var(--index) * 0.1) calc(var(--index) * 26);
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
  box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
}
.m-main .goals .goals-text .goals-text__button:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
  box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
}
.m-main .goals .goals-model {
  position: absolute;
  width: calc(var(--index) * 138);
  right: calc(var(--index) * -40);
}
.m-main .tutorial {
  margin-top: calc(var(--index) * 50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.m-main .tutorial .tutorial-article {
  text-align: center;
}
.m-main .tutorial .tutorial-article .tutorial-title {
  color: var(--h-text-color);
  text-transform: uppercase;
  font-size: calc(var(--index) * 3);
}
.m-main .tutorial .tutorial-article .tutorial-article__subtitle {
  color: var(--p-text-color);
  font-size: calc(var(--index) * 0.1);
}
.m-main .tutorial .tutorial-cards {
  margin-top: calc(var(--index) * 7);
  margin-bottom: calc(var(--index) * 7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card {
  background: white;
  text-align: center;
  padding: calc(var(--index) * 1);
  margin-right: 10px;
  border-radius: 7px;
  max-width: calc(var(--index) * 42);
  min-height: calc(var(--index) * 30);
  border: 1px solid transparent;
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid var(--accent-color);
  -webkit-box-shadow: 0px 4px 10px 0px rgb(255, 171, 7);
  box-shadow: 0px 4px 10px 0px rgb(255, 171, 7);
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card:not(:last-child) {
  margin-right: calc(var(--index) * 2);
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card img {
  width: calc(var(--index) * 8);
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card .tutorial-cards__card__title {
  color: var(--h-text-color);
  font-size: calc(var(--index) * 0.6);
  font-weight: 500;
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card .tutorial-cards__card__descr {
  color: var(--p-text-color);
  font-size: calc(var(--index) * -0.2);
  margin-top: calc(var(--index) * -0.8);
  font-weight: 500;
}
.m-main .tutorial .tutorial-cards .tutorial-cards__card .tutorial-cards__card__descr span {
  color: var(--accent-color);
  font-weight: 600;
}
.m-main .tutorial .tutorial-button {
  text-decoration: none;
  font-size: calc(var(--index) * 0.1);
  color: var(--h-text-color);
  background: var(--button-bg);
  border: 1px solid var(--h-text-color);
  border-radius: 7px;
  padding: calc(var(--index) * -0.3) calc(var(--index) * 10);
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
  box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
}
.m-main .tutorial .tutorial-button:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
  box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
}
.m-main .demo {
  margin-top: calc(var(--index) * 20);
  margin-bottom: calc(var(--index) * 20);
}
.m-main .demo .demo__iframe {
  position: relative;
  width: 100%;
  height: 700px;
  border: none;
  background-color: #272727;
}
.m-main .demo #startgame_btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 70px;
  background-color: var(--accent-color);
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.m-main .demo #video {
  display: none;
}
.m-main .demo #canvas {
  position: absolute;
  display: none;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 400px;
  height: 250px;
}
.m-main .demo #empty {
  display: none;
}
.m-main .demo #mainVideo {
  display: none;
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.m-main .demo #output {
  weight: 300px;
  height: 300px;
  text-align: center;
  color: #3dc960;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.m-main .demo .demo__title {
  text-align: center;
  color: var(--h-text-color);
  text-transform: uppercase;
  font-size: calc(var(--index) * 3);
}
.m-main .join-us {
  margin-top: calc(var(--index) * 10);
  position: relative;
}
.m-main .join-us .join-video {
  position: relative;
  width: calc(var(--index) * 138);
}
.m-main .join-us .join-content {
  position: absolute;
  bottom: calc(var(--index) * -8.5);
  left: calc(var(--index) * 7);
  background: white;
  border-radius: 7px;
  padding: calc(var(--index) * 4) calc(var(--index) * 10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.m-main .join-us .join-content .join-content__subtitle {
  text-transform: uppercase;
  position: relative;
  color: var(--h-text-color);
  font-size: calc(var(--index) * 0.3);
}
.m-main .join-us .join-content .join-content__subtitle::before {
  content: " ";
  height: 1px;
  width: calc(var(--index) * 27);
  background: var(--p-text-color);
  display: block;
  position: absolute;
  top: 50%;
  left: calc(var(--index) * -33);
}
.m-main .join-us .join-content .join-content__subtitle::after {
  content: " ";
  height: 1px;
  width: calc(var(--index) * 27);
  background: var(--p-text-color);
  display: block;
  position: absolute;
  top: 50%;
  right: calc(var(--index) * -33);
}
.m-main .join-us .join-content .join-content__title {
  text-transform: uppercase;
  color: var(--h-text-color);
  font-size: calc(var(--index) * 5);
  margin-bottom: calc(var(--index) * 2);
}
.m-main .join-us .join-content .join-content__title span {
  color: var(--accent-color);
}
.m-main .join-us .join-content .join-content__button {
  color: red;
  text-decoration: none;
  font-size: calc(var(--index) * 0.1);
  color: var(--h-text-color);
  background: var(--button-bg);
  border: 1px solid var(--h-text-color);
  border-radius: 7px;
  padding: calc(var(--index) * 0.1) calc(var(--index) * 3);
  -webkit-transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
  box-shadow: 4px 4px 10px 0px rgba(22, 22, 24, 0.25);
}
.m-main .join-us .join-content .join-content__button:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
  -webkit-box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
  box-shadow: 4px 4px 10px 0px rgb(255, 171, 7);
}

@media (min-width: 320px) and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  .container {
    padding: 0 calc(var(--index) * 2);
  }
  .m-header .navigation .nav-list {
    display: none;
  }
  .m-header .navigation .nav-login .nav-login__button {
    font-size: calc(var(--index) * 0.8);
  }
  .m-main .hero-section {
    margin-top: 50%;
  }
  .m-main .hero-section .hero-text::before {
    width: calc(var(--index) * 17);
    top: calc(var(--index) * 21);
    left: calc(var(--index) * 2);
  }
  .m-main .hero-section .hero-text .hero-text__header {
    font-size: calc(var(--index) * 9);
    left: 50%;
    top: calc(var(--index) * 10);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .m-main .hero-section .hero-text .hero-text__descr {
    font-size: calc(var(--index) * 1);
    top: calc(var(--index) * 20);
    left: calc(var(--index) * 20);
    text-wrap: nowrap;
  }
  .m-main .hero-section .hero-quote {
    display: none;
  }
  .m-main .hero-section .hero-learn-more {
    top: calc(var(--index) * 50);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: calc(var(--index) * 9);
  }
  .m-main .goals {
    margin-top: calc(var(--index) * 0);
  }
  .m-main .goals .goals-text .goals-text__header {
    font-size: calc(var(--index) * 2.3);
  }
  .m-main .goals .goals-text .goals-text__descr {
    padding-top: calc(var(--index) * 0.1);
    padding-bottom: calc(var(--index) * 2);
    font-size: calc(var(--index) * 0.7);
    max-width: calc(var(--index) * 25);
  }
  .m-main .goals .goals-text .goals-text__button {
    font-size: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.1) calc(var(--index) * 2);
  }
  .m-main .goals .goals-model {
    width: calc(var(--index) * 100);
    right: calc(var(--index) * -42);
  }
  .m-main .tutorial {
    margin-top: calc(var(--index) * 30);
  }
  .m-main .tutorial .tutorial-article .tutorial-title {
    font-size: calc(var(--index) * 2.2);
  }
  .m-main .tutorial .tutorial-cards {
    margin-top: calc(var(--index) * 7);
    margin-bottom: calc(var(--index) * 7);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .m-main .tutorial .tutorial-cards .tutorial-cards__card {
    margin-right: 0;
    padding: calc(var(--index) * 1);
    width: calc(var(--index) * 30);
    min-height: calc(var(--index) * 30);
  }
  .m-main .tutorial .tutorial-cards .tutorial-cards__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: calc(var(--index) * 1);
  }
  .m-main .tutorial .tutorial-cards .tutorial-cards__card img {
    width: calc(var(--index) * 8);
    margin-top: calc(var(--index) * 0.6);
  }
  .m-main .tutorial .tutorial-cards .tutorial-cards__card .tutorial-cards__card__title {
    font-size: calc(var(--index) * 1.3);
  }
  .m-main .tutorial .tutorial-cards .tutorial-cards__card .tutorial-cards__card__descr {
    font-size: calc(var(--index) * 0.8);
    margin-top: calc(var(--index) * 1);
  }
  .m-main .tutorial .tutorial-button {
    font-size: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.7) calc(var(--index) * 10);
  }
  .m-main .demo {
    margin-top: calc(var(--index) * 30);
    margin-bottom: calc(var(--index) * 20);
  }
  .m-main .demo .demo__title {
    font-size: calc(var(--index) * 2.4);
    margin-bottom: calc(var(--index) * 2);
  }
  .m-main .demo #startgame_btn {
    background-color: var(--accent-color);
    font-family: "Montserrat";
  }
  .m-main .join-us {
    margin-top: calc(var(--index) * 10);
  }
  .m-main .join-us .join-video {
    width: calc(var(--index) * 90);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .m-main .join-us .join-content {
    bottom: calc(var(--index) * 0.6);
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    padding: calc(var(--index) * 4) calc(var(--index) * 1);
    width: 100%;
  }
  .m-main .join-us .join-content .join-content__subtitle::before {
    width: calc(var(--index) * 10);
    left: calc(var(--index) * -12);
  }
  .m-main .join-us .join-content .join-content__subtitle::after {
    width: calc(var(--index) * 10);
    right: calc(var(--index) * -12);
  }
  .m-main .join-us .join-content .join-content__title {
    font-size: calc(var(--index) * 2);
    margin-bottom: calc(var(--index) * 1);
  }
  .m-main .join-us .join-content .join-content__button {
    font-size: calc(var(--index) * 0.7);
    padding: calc(var(--index) * 0.1) calc(var(--index) * 3);
  }
}